<div class="home" data-ng-controller="homeController as home">
	<div class="col-md-2">
		<ul class="nav nav-pills nav-stacked" role="tablist" data-ng-repeat="menu in home.menu">
		  <li id="menu{{$index}}" role="presentation" data-ng-class="{active: home.activemenu == menu.name}" 
			data-ng-click="home.activemenu = menu.name"><a href>{{menu.name}}</a></li>
		</ul>
	</div>
	<div class="col-md-10">
		<div class="feed" data-ng-show="home.activemenu == 'Feed'" data-ng-controller="feedController as feed">
			<div class="text-center">
				<form class="form-inline" role="form" name="feedForm" 
				data-ng-submit="feed.validateFeed();">
					<div class="form-group">
						<input type="text" invalid-message="{{feed.strings.feed_required}}"
						data-ng-model="feed.feed.value" 
						class="form-control form-control-inline" id="feed" data-ng-maxlength=255 required 
						placeholder="{{feed.strings.feed}}">
					</div>
					<button type="submit" class="btn btn-primary">{{feed.strings.post}}</button>
				</form>
				
				<div data-ng-show="feed.showFeed()" style="padding-top: 10px;">
					<table class="table table-hover">
						<tbody data-ng-repeat="feedData in feed.feeds">
							<tr>
								<td class="text-left"><image data-ng-src="{{feed.feedImage}}" height="50" width="50"/></td>
								<td class="text-left" data-ng-show="feedData.type == 'url'">
									<a href="{{feedData.value}}" target="_block">{{feedData.value}}</a>
								</td>
								<td class="text-left" data-ng-show="feedData.type == 'text'">
									{{feedData.value}}
								</td>
								<td class="text-left">{{feedData.date | date:'MM/dd/yyyy hh:mm a'}}</td>
								<td class="text-left">
									<button type="submit" id="delete{{$index}}" class="btn btn-danger btn-xs" 
										data-ng-click="feed.deleteFeed('{{$index}}');">
										<span class="glyphicon glyphicon-remove"></span>
									</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		
		<div data-ng-show="home.activemenu == 'Profile'" data-ng-controller="profileController as profile">
			<div class="alert alert-info" data-ng-show="profile.profileSaved">Profile successfully saved!</div>
			<div class="col-md-4 profile">
				<form class="form" role="form" name="profileForm" 
					data-ng-submit="profile.validateProfile();">
					<div class="form-group">
						<input type="text" invalid-message="{{profile.strings.name_required}}"
						data-ng-model="profile.profile.name" 
						class="form-control form-control-inline" id="name" data-ng-maxlength=255 required 
						placeholder="{{profile.strings.name}}">
					</div>
					<div class="form-group">
						<input type="number" invalid-message="{{profile.strings.age_required}}"
						data-ng-model="profile.profile.age" 
						class="form-control form-control-inline" id="name" data-ng-min=20 data-ng-max=40 data-ng-maxlength=2 required 
						placeholder="{{profile.strings.age}}">
					</div>
					<div class="form-group">
						<input type="tel" invalid-message="{{profile.strings.phone_required}}"
						data-ng-model="profile.profile.phone" 
						class="form-control form-control-inline" id="phone" data-ng-maxlength=10 required 
						placeholder="{{profile.strings.phone}}">
					</div>
					<div class="form-group">
						<input type="email" invalid-message="{{profile.strings.email_required}}"
						data-ng-model="profile.profile.email" 
						class="form-control form-control-inline" id="email" data-ng-maxlength=255 required 
						placeholder="{{profile.strings.email}}">
					</div>
					<div class="form-group">
						<textarea class="form-control" 						
						data-ng-model="profile.profile.address" 
						placeholder="{{profile.strings.address}}"
						rows="5" id="address"></textarea>
					</div>
					<div class="form-group">
						<div class="col-md-9" style="padding: 0 5px 0 0;">
							<input class="form-control" readonly type="text" placeholder="{{profile.strings.profile_image}}">
						</div>
						<div class="col-md-3" style="padding: 0 0 0 10px;">
							<div class="fileUpload btn btn-info" style="margin-top: 0px;">
								<span>Select</span>
								<input type="file" accept="image/*" id="profileImage" fileread="profile.profile.image" filename="profile.strings.profile_image" class="upload">
							</div>
						</div>
					</div>
					<button style="float: right;" type="submit" class="btn btn-primary">{{profile.strings.save}}</button>
				</form>
			</div>
			<div class="col-md-8 profile">
				<image data-ng-src="{{profile.profile.image}}" class="img-responsive"/>
			</div>
		</div>
	</div>
</div>